* {
  margin: 0;
  padding: 0;
  font-family: Arial Narrow, sans-serif;
}

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

/* header */
.header {
  height: 80px;
  width: 100%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  z-index: 2;
  margin-bottom: 10px;
}

.header-content {
  width: 80%;
}
.header-logos {
  width: 250px;
  margin-top: 23px;
}

.dealerLogoImg {
  height: 30px;
  padding-right: 20px;
  border-right: 1px solid #000000;
}

.header-buttons {
  margin-top: 20px;
  width: 350px;
}

.bmwLogoImg {
  height: 48px;
  margin-top: -10px;
}

.button {
  width: 160px;
  height: 40px;
  border-radius: 50px;
  border: none;
  color: white;
  font-style: bold;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  vertical-align: top;
}

.button-purple {
  background-color: #3754e2;
}
.button-purple:hover {
  background-color: #304acb;
  cursor: pointer;
}

.button-green {
  background-color: #4ec859;
}
.button-green:hover {
  background-color: #2daf38;
  cursor: pointer;
}

/* car-title */
.car-title-div {
  height: 85px;
  background-color: #fafafa;
  padding: 0% 10%;
  z-index: 1;
}

.navigation-texts {
  width: 100%;
  height: fit-content;
  margin-top: 20px;
  color: #666666;
  font-size: 12px;
}
.car-title-div span {
  cursor: pointer;
  border-bottom: 1px solid #666666;
  margin-left: 5px;
  color: #666666;
  height: fit-content;
}

.car-title-h1 {
  margin-top: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}

.car-details {
  padding: 0 10%;
  padding-top: 10px;
}

.car-detail-ad {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  color: #666666;
}

.car-price {
  align-items: center;
  height: 30px;
  margin-top: 10px;
  border-left: 3px solid #e5e5e5;
  padding-left: 7px;
}

.car-price strong {
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #333333;
}

.car-img {
  width: 541px;
  height: 330px;
  left: 164px;
  top: 348px;
}

.details-container {
  width: 280px;
  margin-right: 160px;
}

.details-container h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  margin-bottom: 25px;
}

.details-container button {
  width: 206px;
}

.details-columns {
  flex-direction: column;
  margin-right: 10px;
}

.detail-div {
  width: 130px;
  margin-bottom: 24px;
}
.detail-div p {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  text-overflow: unset;
  white-space: nowrap;
}

.detail-div strong {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #3754e2;
}

.details-icons {
  margin-right: 15px;
}
@media (max-width: 760px) {
  /* Header */
  .header {
    width: 100%;
    height: fit-content;
    padding: 0px 0px 5px 0px;
  }
  .header-content {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .car-details {
    margin-top: 50px;
  }
  .car-img {
    width: 216px;
    height: 132px;
    left: 164px;
    top: 348px;
  }

  .car-price strong {
    margin-top: 35px;
  }

  .car-details-div {
    flex-direction: column;
  }
}
