:root {
  --black: #000000;
  --white-1: #fafafa;
  --purple: #3754e2;
  --dark-purple: #304acb;
  --green: #4ec859;
  --dark-green: #2daf38;
  --gray: #666666;
  --gray-2: #e5e5e5;
  --gray-3: #e1e1e1;
  --gray-4: rgba(255, 255, 255, 0.5);
  --dark-gray: #333333;
}
* {
  margin: 0;
  padding: 0;
  font-family: Arial Narrow, sans-serif;
}

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

/* header */
.header {
  height: 80px;
  width: 100%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  z-index: 2;
  margin-bottom: 10px;
}

.header-content {
  width: 80%;
}
.header-logos {
  width: 250px;
  margin-top: 23px;
}

.dealerLogoImg {
  height: 30px;
  padding-right: 20px;
  border-right: 1px solid var(--black);
}

.header-buttons {
  margin-top: 20px;
  width: 350px;
}

.bmwLogoImg {
  height: 48px;
  margin-top: -10px;
}

.button {
  width: 160px;
  height: 40px;
  border-radius: 50px;
  border: none;
  color: white;
  font-style: bold;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  vertical-align: top;
}

.button-purple {
  background-color: var(--purple);
}
.button-purple:hover {
  background-color: var(--dark-purple);
  cursor: pointer;
}

.button-green {
  background-color: var(--green);
}
.button-green:hover {
  background-color: var(--dark-green);
  cursor: pointer;
}

/* car-title */
.car-title-div {
  height: 85px;
  background-color: var(--white-1);
  padding: 0% 10%;
  z-index: 1;
}

.navigation-texts {
  width: 100%;
  height: fit-content;
  margin-top: 20px;
  color: var(--gray);
  font-size: 12px;
}
.car-title-div span {
  cursor: pointer;
  border-bottom: 1px solid var(--gray);
  margin-left: 5px;
  color: var(--gray);
  height: fit-content;
}

.car-title-h1 {
  margin-top: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}

.car-details {
  padding: 0 10%;
  padding-top: 10px;
  margin-bottom: 40px;
}

.car-detail-ad {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  color: var(--gray);
}

.car-price {
  align-items: center;
  height: 30px;
  margin-top: 10px;
  border-left: 3px solid var(--gray-2);
  padding-left: 7px;
}

.car-price strong {
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: var(--dark-gray);
}

.car-img {
  width: 541px;
  height: 330px;
  left: 164px;
  top: 348px;
}

.details-container {
  width: 280px;
  margin-right: 160px;
}

.details-container h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  margin-bottom: 25px;
}

.details-container button {
  width: 206px;
}

.details-columns {
  flex-direction: column;
  margin-right: 10px;
}

.detail-div {
  width: 130px;
  margin-bottom: 24px;
}
.detail-div p {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: var(--black);
  text-overflow: unset;
  white-space: nowrap;
}

.detail-div strong {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: var(--purple);
}

.details-icons {
  margin-right: 15px;
}

.car-description-section {
  width: 100%;
  justify-content: center;
  padding-bottom: 35px;
}

.car-descriprion-content {
  width: 80%;
  border-top: 3px solid var(--dark-gray);
  padding-top: 36px;
}

.car-description-ad h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  margin-bottom: -5px;
}

.car-description {
  width: 540px;
}

.car-description p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--black);
}

.video-section {
  width: 100%;
  justify-content: center;
}

.video-content {
  width: 80%;
  border-top: 1px solid var(--gray-3);
  padding-top: 25px;
}

.video-content h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: var(--black);
}

.video-content iframe {
  margin-top: 20px;
}

.iframe-video {
  width: 100%;
  height: 630px;
}

.legal-text-section {
  justify-content: center;
  margin: 50px 0;
  width: 100%;
}

.legal-text-content {
  width: 80%;
  border-top: 1px solid var(--gray-3);
  padding-top: 35px;
}

.legal-text-content span {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  color: var(--black);
}

.legal-text-content p {
  font-style: normal;
  font-size: 14px;
  line-height: 19px;
  color: var(--black);
}

.footer-section {
  background-color: var(--black);
  width: 100%;
  padding: 50px 0;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.footer-div-1 {
  width: 80%;
  justify-content: space-between;
  border-bottom: 1px solid var(--gray-4);
  padding-bottom: 40px;
}

.dealer-logo-footer-img {
  height: 22px;
}

.social-media-div {
  color: var(--white-1);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  align-items: center;
}

.media-icon {
  margin-left: 20px;
}

.footer-div-2 {
  width: 100%;
  justify-content: center;
}
.auto-force-info {
  width: 80%;
  color: #ffffff;
  font-family: 'Ubuntu';
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  margin-top: 20px;
  padding-bottom: 40px;
  border-bottom: 1px solid var(--gray-4);
}
.auto-force-info span {
  font-weight: 700;
  margin-right: 10px;
}

.auto-force-info p {
  font-weight: 400;
}

.auto-force-info div {
  margin-top: 20px;
}

.auto-force-info a {
  margin-left: 20px;
  color: var(--gray-2);
}

.footer-div-3 {
  width: 100%;
  justify-content: center;
  padding-top: 25px;
}

.copyright-info {
  width: 80%;
  justify-content: space-between;
}
.copyright-text {
  color: white;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}

.copyright-text a {
  color: white;
  margin-left: 5px;
}

@media (max-width: 1000px) {
  /* Header */
  .header {
    width: 100%;
    height: fit-content;
    padding: 0px 0px 5px 0px;
  }
  .header-content {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .car-details {
    margin-top: 50px;
  }
  .car-img {
    width: 216px;
    height: 132px;
    left: 164px;
    top: 348px;
  }

  .car-price strong {
    margin-top: 35px;
  }

  .car-details-div {
    flex-direction: column;
    align-items: center;
  }

  .car-descriprion-content {
    flex-direction: column;
    align-items: center;
  }
  .car-description {
    width: 300px;
    margin-top: 20px;
  }

  .details-container {
    margin-right: 0;
  }

  .video-content {
    width: 50%;
  }

  .iframe-video {
    height: 180px;
  }
}
